* {
    background-color:rgb(25, 20, 20);
    box-sizing: border-box;
}

h1 {
    color: white;
    font-family: 'Poppins';
    text-align: left;
    margin-left: 200px;
}

#Colors {
    color: white;
    font-family: 'Nunito Sans';
    border: grey solid 2px;
    margin-left: 200px;
    margin-right: 200px;
    padding-bottom: 150px;
}

#colors, h2 {
    display: inline-block;
    font-family: Arial;
    margin-left: 10px;
}

#Blue {
    display: inline-block;
    position: absolute;
    width: 25%;
    text-align: center;
    line-height: 35px;
    color: white;
    background-color: #2d5dcc;
    margin-left: -75px;
    margin-top: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: black solid 1px;
}

#Pink {
    display: inline-block;
    position: absolute;
    width: 25%;
    text-align: center;
    line-height: 35px;
    color: black;
    background-color: #d957d9;
    margin-left: 410px;
    margin-top: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: black solid 1px;
}

#Green {
    display: inline-block;
    position: absolute;
    width: 25%;
    text-align: center;
    line-height: 35px;
    color: black;
    background-color: #4fe0b0;
    margin-left: 895px;
    margin-right: 500px;
    margin-top: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: black solid 1px;
}   

#Beige {
    display: inline-block;
    position: absolute;
    width: 25%;
    text-align: center;
    line-height: 35px;
    color: black;
    background-color: #efd9ca;
    margin-left: -75px;
    margin-top: 220px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: black solid 1px;
}

#Red {
    display: inline-block;
    position: absolute;
    width: 25%;
    text-align: center;
    line-height: 35px;
    color: black;
    background-color: #DC143C;
    margin-left: 410px;
    margin-top: 220px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: black solid 1px;
}

#Purple {
    display: inline-block;
    position: absolute;
    width: 25%;
    text-align: center;
    line-height: 35px;
    color: white;
    background-color: #720e9e;
    margin-left: 895px;
    margin-top: 220px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: black solid 1px;
}

#Usage {
    color: white;
    font-family: 'Nunito Sans';
    border: grey solid 2px;
    margin-top: 10px;
    margin-left: 200px;
    margin-right: 200px;
    padding-bottom: 10px;
}

section #Usage, h2 {
    display: inline-block;
    font-family: Arial;
    margin-left: 10px;
    padding-bottom: 150px;
}

h3 {
    font-family: 'Nunito Sans';
    margin-left: 10px;
    margin-top: -150px;
}

/*li {
  I WANT TO CHANGE THE FONT OF THIS LOL 
    
} */

#Bluetitle {
    color: #2d5dcc;
}

#Bluelist {
    margin-top: -20px;
}

#Pinkcon {
    padding-top: 44px;
    padding-left: 510px;
}

#Pinktitle {
    color: #d957d9;
}

#Pinklist {
    margin-top: -20px;
}

#Greencon {
    display: inline-block;
    position: absolute;
    margin-top: -16px;
    padding-left: 1010px;
}

#Greentitle {
    color: #4fe0b0;
}

#Greenlist {
    margin-top: -20px;
}

#Beigecon {
    margin-top: 105px;
}

#Beigetitle {
    color: #efd9ca;
}

#Beigelist {
    margin-top: -20px;
}

#Redcon {
    margin-top: 60px;
    padding-left: 510px;
}

#Redtitle {
    color: #DC143C;
}

#Redlist {
    margin-top: -20px;
}

#Purplecon {
    margin-top: 60px;
    padding-left: 1010px;
}

#Purpletitle {
    color: #720e9e;
}

#Purplelist {
    margin-top: -20px;
}

#Fonts {
    color: white;
    font-family: 'Nunito Sans';
    border: grey solid 2px;
    margin-top: 10px;
    margin-left: 200px;
    margin-right: 200px;
    padding-bottom: 20px;
}

section #Fonts, h2 {
    display: inline-block;
    font-family: Arial;
    margin-left: 10px;
    padding-bottom: 150px;
}

section #Fonts, p {
    margin-left: 10px;
}

#SourceCodePro {
    font-family: 'Source Code Pro';
    word-spacing: -5px;
}

#SourceCodePro p {
    line-height: 16px;
}

.Underline {
    text-decoration: underline;
}

.Bold {
    font-weight: Bold;
}

.Italic {
    font-style: italic;
}

#NunitoSans {
    font-family: 'Nunito Sans';
    margin-left: 510px;
    margin-top: 25px;
}

#NunitoSans p{
    line-height: 16px;
}

#FPoppins {
    font-family: Poppins;
    margin-left: 1010px;
    margin-top: 25px;
}

#FPoppins p {
    line-height: 16px;
}

#AbrilFatface {
    font-family: 'Abril Fatface';
    margin-top: 180px;
}

#AbrilFatface p {
    line-height: 16px;
    word-spacing: 2 px;
}

#FArvo {
  font-family: Arvo;  
  margin-left: 510px;
  margin-top: 25.5px;
}

#FArvo p {
    line-height: 16px;
}

#FAndika {
    font-family: Andika;
    margin-left: 1010px;
    margin-top: 25px;
}

#FAndika p {
    line-height: 16px;
}






